body {
    margin: 0px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 20px gray;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.home {
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 800px;
    color: white;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgb(145, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    border: solid 20px gray;
}

.home h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 30px;
    text-align: center;

    animation: textShadow 2s ease-in-out infinite alternate;
}

@keyframes textShadow {
    0% {
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000,
            0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    }
    100% {
        text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #f00,
            0 0 50px #f00, 0 0 60px #f00, 0 0 70px #f00;
    }
}

.center-text {
    text-align: center;
}

.name-input {
    margin: 10px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.text-input-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-button {
    margin: 10px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: rgb(146, 11, 11);
    color: white;
    cursor: pointer;

    /* button hover animation */
    transition: all 0.2s ease-in-out;
}

/* button glow animation */
.start-button:hover {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000,
        0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}

.button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table,
th,
td {
    border: 0px;
    text-align: center;
}

.table {
    margin: 10px;
    border: solid 4px;
}

.table-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table th {
    font-size: 20px;
    font-weight: 100;
    margin: 2px;
    text-align: center;
    background-color: rgb(6, 32, 24);
    padding: 10px;
}
